<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Authorization header ko pass karein
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
  
  # API requests ko skip karein (Important)
  RewriteCond %{REQUEST_URI} ^/api [NC]
  RewriteRule .* - [L]
  
  # .html extension handle karein
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L,QSA]

  # Routing fallback
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
